<a href="https://colab.research.google.com/github/andrniko/Coursera/blob/main/SQL_For_Data_Analysis_Honors_Assigment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
%reload_ext sql
%%sql

	--Exercise 1: Using Joins

--Question 1
--Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98.


select sc.NAME_OF_SCHOOL, sc.COMMUNITY_AREA_NAME, sc.AVERAGE_STUDENT_ATTENDANCE 
FROM  CHICAGO_PUBLIC_SCHOOLS AS sc INNER JOIN CENSUS_DATA as ce 
ON  sc.COMMUNITY_AREA_NUMBER = ce.COMMUNITY_AREA_NUMBER
WHERE ce.HARDSHIP_INDEX = 98;





--Question 2 

--Write and execute a SQL query to list all crimes that took place at a school. Include case number, crime type and community name.


select cr.CASE_NUMBER, cr.PRIMARY_TYPE, ce.COMMUNITY_AREA_NAME 
FROM  CHICAGO_CRIME_DATA AS cr INNER JOIN CENSUS_DATA as ce 
ON  cr.COMMUNITY_AREA_NUMBER = ce.COMMUNITY_AREA_NUMBER
WHERE LOCATION_DESCRIPTION LIKE 'SCHOOL';



	--Exercise 2: Creating a View

--Question 1 
--Write and execute a SQL statement to create a view showing the columns listed in the following table, with new column names as shown in the second column.

 CREATE VIEW  View1 
 (School_Name, Safety_Rating, Family_Rating, Environment_Rating, Instruction_Rating, Leaders_Rating, Teachers_Rating)
 AS SELECT NAME_OF_SCHOOL, Safety_Icon, Family_Involvement_Icon, Environment_Icon, Instruction_Icon, Leaders_Icon, Teachers_Icon
 FROM CHICAGO_PUBLIC_SCHOOLS;
 
 --Write and execute a SQL statement that returns all of the columns from the view.
 
 SELECT * FROM View1;
 
 --Write and execute a SQL statement that returns just the school name and leaders rating from the view.
 
 SELECT School_Name, Leaders_Rating from View1;
 
 	--Exercise 3: Creating a Stored Procedure 
 
 --Question 1 	
 --Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer.



DROP PROCEDURE UPDATE_LEADERS_SCORE;


--#SET TERMINATOR @
CREATE PROCEDURE UPDATE_LEADERS_SCORE (
    IN in_School_ID  INTEGER, IN in_Leader_Score INTEGER) 
LANGUAGE SQL 
MODIFIES SQL DATA
  BEGIN
--Question 2 
--Inside your stored procedure, write a SQL statement to update the Leaders_Score field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID to the value in the in_Leader_Score parameter.
    
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET Leaders_Score = in_Leader_Score
    WHERE School_ID = in_School_ID;

--Question 3
--Inside your stored procedure, write a SQL IF statement to update the Leaders_Icon field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID using the following information.

    IF in_Leader_Score >=  80 THEN 
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Very Strong'
        WHERE School_ID = in_School_ID;
        
    ELSEIF in_Leader_Score>= 60 and in_Leader_Score <= 79  THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Strong'
        WHERE School_ID = in_School_ID;
        
    ELSEIF in_Leader_Score >=  40 and in_Leader_Score <= 59  THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Average'
        WHERE School_ID = in_School_ID;
        
    ELSEIF in_Leader_Score >=  20 and in_Leader_Score <= 39  THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Weak'
        WHERE School_ID = in_School_ID;
        
    ELSEIF in_Leader_Score >=  0 and in_Leader_Score <= 19  THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Very Weak'
        WHERE School_ID = in_School_ID;
        
	--Exericse 4
--Question 2 
--Update your stored procedure definition again. Add a statement to commit the current unit of work at the end of the procedure    
    COMMIT WORK; 
    
--Question 1 
--Update your stored procedure definition. Add a generic ELSE clause to the IF statement that rolls back the current work if the score did not fit any of the preceding categories.

    ELSE 
    	UPDATE CHICAGO_PUBLIC_SCHOOLS
    	SET Leaders_Icon = Leaders_Icon
    	WHERE School_ID = in_School_ID;
    	 
        END IF;

  END 
  @
  
  

  --Question 4 
  --Write a query to call the stored procedure, passing a valid school ID and a leader score of 50, to check that the procedure works as expected.
  
  CALL UPDATE_LEADERS_SCORE(400018, 50);